### 파이썬 기본 입력

In [3]:
# 주석문: # 기호로 시작하는 문장

In [4]:
# 사용자에게 내용을 전달하는 함수

print('python 3.11')

python 3.11

### 파이썬은 들여쓰기를 통해 실행 영역을 정의

In [5]:
a="이름:"
b="홍길동"

  print(a+b)

IndentationError: unexpected indent (1305260049.py, line 4)

In [8]:
for i in range(5):
    print(i)
    
for i in range(5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 4 (1214065554.py, line 5)

### 파이썬 자료형
- 숫자, 문자, 리스트, 튜플, 딕셔너리, 집합

1. 숫자형 데이터 (교재 p46~47)

In [12]:
num1 = 11
num2 = 4.

print(num1 + num2)   # 더하기
print(num1 / num2)   # 나누기
print(num1 // num2)  # 몫
print(num1 % num2)   # 나머지

print("=======================================")
print(type(num1), type(num2))  # type() 데이터에 자료형을 알려준다.

15.0
2.75
2.0
3.0
=======================================
<class 'int'> <class 'float'>

2. 문자형(p50~)
- 입력시 반드시 "", ''로 묶어준다. => 문자형
- 영문, 한글, 특수문자, 아라비아숫자

In [14]:
str1='python'
str2="3.11"

print(type(str1))
print(type(str2))

<class 'str'>
<class 'str'>

##### [참조] + 기호 사용
- 숫자형: 더하기
- 문자형: 연결연산자
- 자료형이 다른 경우 오류 발생

In [15]:
a = 10
b = '20'

print(a + b) # TypeError: 숫자와 문자열은 더할 수 없다.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- str(인수): 입력받은 인수를 문자열로 반환
- int(인수): 입력받은 인수를 정수로 반환
- float(인수): 입력받은 인수를 실수로 반환

In [16]:
a = 10
b = '20'

print(a + int(b)) # 산술연산자
print(str(a) + b) # 문자열 연결 연산자

30
1020

2-1. 문자열 연산(p56~)

In [17]:
# 기본 문자열
str1='Life is too short, You need Python'

# 문자의 길이
print(len(str1)) # len() 함수: 문자열/리스트 등 길이를 구하는 함수

34

In [21]:
# 문자열 자르기
# 문자열 인덱싱, 슬라이싱

# 문자열 인덱싱: 문자의 위치를 나타내는 값
print(str1[0]) # 첫번째 문자 출력

# 문자열 슬라이싱: 문자열의 일부분을 잘라서 가져오는 것, 문자열[시작인덱스:끝인덱스]
print(str1[0:4]) # 0번째부터 4번째 전까지 가져오기
print(str1[:4]) # 0번째부터 4번째 전까지 가져오기
print(str1[-6:]) # 뒤에서 6번째부터 끝까지 가져오기
print(str1[28:], str1[28:34]) # 뒤에서 6번째부터 끝까지 가져오기

L
Life
Life
Python
Python Python

2-2. 문자열 관련 함수(p72~)
- count, find, index, join, replace, split

In [35]:
str1='Life is too short'

# 문자열 길이
print(len(str1))

# 문자열 내부의 특정 문자 개수
print(f"str1의 문자열에서 t 글자 개수: {str1.count('t')}")

# 문자열 내부의 특정 문자 위치(인덱스), 없으면 -1
print(f"str1의 문자열에서 s 글자 위치 {str1.find('s')}")

# 문자열에서 특정 문자의 위치, 없으면 오류
print(str1.index('i'))

# 문자열 내부에 특정 문자열을 삽입할때 사용
print("-".join(str1))

# 문자열 변경
print(str1.replace('Life', 'Your leg')) # Life를 Your leg로 변경

# 문자열 나누기
print(str1.split(" "))  # 공백을 기준으로 나눔, 결과값은 리스트로 반환

17
str1의 문자열에서 t 글자 개수: 2
str1의 문자열에서 s 글자 위치 6
1
L-i-f-e- -i-s- -t-o-o- -s-h-o-r-t
Your leg is too short
['Life', 'is', 'too', 'short']

3. 리스트형
- 데이터를 대괄호([ ])로 묶어준다.
- 데이터 구분은 쉼표(,)로 나누어 입력
- 인덱싱/슬라이싱

In [37]:
# 리스트 데이터 생성
lst1 = [10, 20, 30, "멀티", '파이썬', [100, 200, 300]]

print(type(lst1))

<class 'list'>

In [42]:
# 인덱싱
lst1[0]
lst1[3]
lst1[-1] # lst1[5]
lst1[-1][1]

200

In [44]:
# 슬라이싱
lst1[3:5]

['멀티', '파이썬']

In [45]:
# 데이터 수정
lst1[3] = '멀티캠퍼스'
print(lst1)

[10, 20, 30, '멀티캠퍼스', '파이썬', [100, 200, 300]]

In [47]:
# 데이터 삭제
del lst1[2]

In [48]:
lst1

[10, 20, '멀티캠퍼스', '파이썬', [100, 200, 300]]

In [53]:
# list에 많이 사용하는 함수
# append, extend, remove, count, sort, reverse, clear

lstEdu=[]

# 리스트에 데이터 추가
lstEdu.append('Python')
lstEdu.append('Java')

print(lstEdu)

# + 연산자를 이용한 리스트 추가
lstEdu2 = ['R', 'C']
print(lstEdu + lstEdu2)

['Python', 'Java']
['Python', 'Java', 'R', 'C']

In [57]:
# sort 함수를 이용한 정렬
lstedu3=[10, 2, 5, 12, 11, 8, 3, 6]
lstedu3.sort()  # 오름차순 정렬
print(lstedu3)

# 내림차순 정렬
lstedu3.sort(reverse=True) # lstedu3.reverse()와 동일
lstedu3

[2, 3, 5, 6, 8, 10, 11, 12]

[12, 11, 10, 8, 6, 5, 3, 2]

4. 튜플형
- 리스트와 동일하며 입력시 소괄호로 묶어서 입력
- 값이 변하지 않는다.(수정 불가)

In [60]:
tf = (1, 2, 3)
tf[0:2]

tf[1] = 5  # Error: 수정 불가능

TypeError: 'tuple' object does not support item assignment

5. 딕셔너리형(p93~)
- 중과호({ })로 묶어서 입력
- keys:values 구조
- values: 파이썬의 모든 자료형 입력 가능

In [76]:
# 딕셔너리 
dict1 = {'번호': 1, '이름': '홍길동', '나이': 20, '성별': '남자'}
dict2 = {'번호': [1, 2, 3, 4, 5], 
         '이름': ['홍길동', '김철수', '이영희', '박영수', '김영희'], 
         '나이': [20, 25, 30, 35, 40], 
         '성별': ['남자', '여자', '남자', '여자', '남자']
         }

In [78]:
# 딕셔너리 자료형 값 관리
print(type(dict1))

# 딕셔너리의 키와 값 출력/결과는 리스트 형태로 출력
print(dict1.keys()) # 키만 출력
print(dict1.values()) # 값만 출력

print(dict2.values()) # 값만 출력
print(dict2['이름']) # 키를 이용하여 값 출력
print(dict2['이름'][0]) # 키를 이용하여 값 출력

<class 'dict'>
dict_keys(['번호', '이름', '나이', '성별'])
dict_values([1, '홍길동', 20, '남자'])
dict_values([[1, 2, 3, 4, 5], ['홍길동', '김철수', '이영희', '박영수', '김영희'], [20, 25, 30, 35, 40], ['남자', '여자', '남자', '여자', '남자']])
['홍길동', '김철수', '이영희', '박영수', '김영희']
홍길동

In [81]:
# 관련함수
print(dict2.get('이름'))
print(dict2.get('이름')[-1])

print('나이' in dict2) # key값이 있는지 확인(True, False)

['홍길동', '김철수', '이영희', '박영수', '김영희']
김영희
True

In [70]:
#!pip install pandas

Requirement already satisfied: pandas in c:\programdata\miniconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo_user\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\miniconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\miniconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\miniconda3\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo_user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [69]:
import pandas as pd  # pandas library 연결하기

In [77]:
df = pd.DataFrame(dict2)
df

   번호   이름  나이  성별
0   1  홍길동  20  남자
1   2  김철수  25  여자
2   3  이영희  30  남자
3   4  박영수  35  여자
4   5  김영희  40  남자

6. 집합형
- set([데이터])
- 고유값만 가진다.

In [82]:
set1 = set([1, 2, 3, 4, 5, 1, 3, 5])
set1

{1, 2, 3, 4, 5}

In [83]:
setLst=list(set1)  # list 형식으로 변환
setLst

[1, 2, 3, 4, 5]

### 제어문/if문(P121~)

In [4]:
# if문 연습1(p123~)

# 사용자로부터 데이터 입력 받기: input()
indata = input("숫자를 입력하세요: ")  # input() 함수는 문자열로 입력 받음
print(type(indata))  # type() 함수는 데이터의 타입을 확인하는 함수

if int(indata) > 0:  # int() 함수는 문자열을 정수로 변환하는 함수
    print("0보다 큰 수입니다.")
    
print("종료")

<class 'str'>
종료

In [8]:
# if문 연습2(p130~)

# 사용자로부터 데이터 입력 받기: input()
indata = input("숫자를 입력하세요: ")  # input() 함수는 문자열로 입력 받음
print(type(indata))  # type() 함수는 데이터의 타입을 확인하는 함수

if int(indata) > 0:  # int() 함수는 문자열을 정수로 변환하는 함수
    print(f"{indata}는 0보다 큰 수입니다.")
else:
    print(f"{indata}는 0보다 작은 수입니다.")
    
print("종료")

<class 'str'>
0는 0보다 작은 수입니다.
종료

In [11]:
# if문 연습3(p130~)

# 사용자로부터 데이터 입력 받기: input()
indata = input("숫자를 입력하세요: ")  # input() 함수는 문자열로 입력 받음
print(type(indata))  # type() 함수는 데이터의 타입을 확인하는 함수

if int(indata) > 0:  # int() 함수는 문자열을 정수로 변환하는 함수
    print(f"{indata}는 0보다 큰 수입니다.")
elif int(indata) == 0:
    print(f"{indata}는 0입니다.")
else:
    print(f"{indata}는 0보다 작은 수입니다.")
    
print("종료")

<class 'str'>
0는 0입니다.
종료

In [12]:
# and/or/not 조건
# 돈이 10000원 이상 있거나 카드가 있다면 택시를 타고 그렇지 않으면 걸어 간다.

money = 5000
card = True

if money >= 10000 or card == True:
    print("택시를 타고 가라")
else:
    print("걸어 가라")
    
print("집으로 간다.")

택시를 타고 가라
집으로 간다.

In [13]:
# in/not in
# 만약 주머니에 현금이 있다면 현금결재, 아니면 카드결재

pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket:
    print("현금결재")
else:
    print("카드결재")
    
print('결재완료')

현금결재
결재완료

In [15]:
# id=sjd001, pw: sjd12345
# ids와 pws를 이용해 로글인 프로그램을 작성하시오.

ids = ['sjd001', 'sjd002', 'sjd003']
pws = ['sjd12345', 'sjd45678', 'sjd12457']

# ID와 PW를 입력받는다.
id = input('ID를 입력하세요: ')
pw = input('PW를 입력하세요: ')

if id in ids:      # id가 ids에 있으면
    # id에 해당하는 pw 확인
    idx = ids.index(id)
    if pw == pws[idx]:
        print('로그인 성공')
    else:
        print('비밀번호가 틀렸습니다.')
        print('로그인 실패')
else:
    print('ID가 존재하지 않습니다.')
    print('로그인 실패')

로그인 성공

### 반복문(while) - p133~
- 반복되는 동일 작업에 대한 코드

In [18]:
# while 문

while True:
    print("반복을 계속할까요? (예/아니오)")
    answer = input()
    if answer == "아니오":
        break   # 반복문을 빠져나감

print("반복을 종료합니다.")

반복을 계속할까요? (예/아니오)
반복을 계속할까요? (예/아니오)
반복을 계속할까요? (예/아니오)
반복을 계속할까요? (예/아니오)
반복을 계속할까요? (예/아니오)
반복을 종료합니다.

In [17]:
answer = '예'

while answer == '예':
    print("반복을 계속할까요? (예/아니오)")
    answer = input()

print("반복이 종료되었습니다.")

반복을 계속할까요? (예/아니오)
반복을 계속할까요? (예/아니오)
반복을 계속할까요? (예/아니오)
반복을 계속할까요? (예/아니오)
반복을 계속할까요? (예/아니오)
반복이 종료되었습니다.

### 반복문(for문)-p114~
for 변수 in 리스트(문자열, 튜플 등):
    실행 코드

In [19]:
# 객체를 그대로 사용
이름 =['홍길동','이순신','강감찬', '권율', '을지문덕']
나이 = [20,30,40, 50, 60]

for name in 이름:
    print(f'{name}님~ 안녕하세요.')
    
print('종료')

홍길동님~ 안녕하세요.
이순신님~ 안녕하세요.
강감찬님~ 안녕하세요.
권율님~ 안녕하세요.
을지문덕님~ 안녕하세요.
종료

In [22]:
# 이름과 나이 출력
# range() 함수 사용: 숫자 범위를 만들어주는 함수
# range(시작숫자, 끝숫자, 증가값) => range(5): [0,1,2,3,4]
# range(2,5): [2,3,4], range(1,10,2): [1,3,5,7,9]

이름 =['홍길동','이순신','강감찬', '권율', '을지문덕']
나이 = [20, 30, 40, 50, 60]

for i in range(len(이름)):
    print(f'이름 : {이름[i]}, 나이 : {나이[i]}')
    
print('종료')

이름 : 홍길동, 나이 : 20
이름 : 이순신, 나이 : 30
이름 : 강감찬, 나이 : 40
이름 : 권율, 나이 : 50
이름 : 을지문덕, 나이 : 60
종료

In [23]:
# 이중 for문을 이용하여 구구단을 출력하는 코드를 작성하시오.
# 1단 5단까지만 출력하시오.

for i in range(1, 6):
    print(f'== {i}단 ==')
    
    for j in range(1, 10):
        print(f'{i} x {j} = {i*j}')

print('end')

== 1단 ==
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
== 2단 ==
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
== 3단 ==
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
== 4단 ==
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
== 5단 ==
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
end

In [30]:
# indata의 입력값이 총 4개의 리스트로 구성되어 있음
# 각 입력 리스트에서 가장 큰 값과 가장 작은 값을 찾아서 변수에 자장 후 출력

indata = [[20,15,22,13,10,7,8,15,22,17],
          [17,22,13,1,8,22,20],
          [33,27,12,3,1,14,5,19,31],
          [30,25,22,21,17,24,19,15,12,11,8,5,3,1]]

maxs = [] # 각 입력 리스트에서 가장 큰 값 저장
mins = [] # 각 입력 리스트에서 가장 작은 값 저장

for items in indata:
    in_max=items[0] # 첫번째 값을 최대값으로 초기화
    in_min=items[0] # 첫번째 값을 최소값으로 초기화
    for item in items:
        # 최대값 찾기
        if item > in_max:
            in_max = item
            
        # 최소값 찾기
        if item < in_min:
            in_min = item
    
    maxs.append(in_max)
    mins.append(in_min)
    
print(maxs)        
print(mins)

[22, 22, 33, 30]
[7, 1, 1, 1]

In [31]:
# indata의 입력값이 총 4개의 리스트로 구성되어 있음
# 각 입력 리스트에서 가장 큰 값과 가장 작은 값을 찾아서 변수에 자장 후 출력
# range() 함수를 사용하여 for문을 작성

indata = [[20,15,22,13,10,7,8,15,22,17],
          [17,22,13,1,8,22,20],
          [33,27,12,3,1,14,5,19,31],
          [30,25,22,21,17,24,19,15,12,11,8,5,3,1]]

maxs = [] # 각 입력 리스트에서 가장 큰 값 저장
mins = [] # 각 입력 리스트에서 가장 작은 값 저장

for i in range(len(indata)):
    in_max = indata[i][0]
    in_min = indata[i][0]
    for j in range(len(indata[i])):
        # 최대값 찾기
        if indata[i][j] > in_max:
            in_max = indata[i][j]
            
        # 최소값 찾기
        if indata[i][j] < in_min:
            in_min = indata[i][j]
    
    maxs.append(in_max)
    mins.append(in_min)
    
print(maxs)        
print(mins)

[22, 22, 33, 30]
[7, 1, 1, 1]